build/
.gradle/
.checkstyle
.settings/
lib/*
*.log
*.log.*
*.csv
config.json
src/test/data/sandbox/
preferences.json
.DS_Store
./screenshot*.png
classes/
/data/
/bin/
src/main/resources/docs/
out/
/.idea/workspace.xml
/.idea/gradle.xml
/.idea/tasks.xml
/.idea/libraries/
